@use '../utils/index' as utils;

.button {
  @include utils.flex-center;
  @include utils.px(1.5rem);
  @include utils.py(1rem);
  @include utils.radius(2rem);
  background-color: utils.$c-orange-1;
  border: utils.$b solid utils.$c-orange-2;
  font-weight: 700;
  color: utils.$c-white;
  outline: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  &:hover {
    background-color: utils.$c-orange-2;
  }
}