@use '@/assets/scss/utils/palette';
@use '@/assets/scss/utils/variables';
@use '@/assets/scss/utils/mixins';

.nav {
  @include mixins.py(1rem);
  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-logo {
    max-width: 4.5rem;
    img {
      width: 100%;
    }
  }
}