@use '../utils/index' as utils;

.nav {
  @include utils.py(1rem);
  background-color: utils.$c-green-3;
  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-logo {
    max-width: 2.5rem;
    img {
      width: 100%;
    }
  }
}