// Colors

$c-black: #000;
$c-white: #fff;

$c-green-1: #DAD7CD;
$c-green-2: #C1DC93;
$c-green-3: #86AC86;
$c-green-4: #3A5A40;
$c-green-5: #344E41;

$c-orange-1: #DF9B53;
$c-orange-2: #D8862E;

$c-shadow-base: #233061;

$c-state-error-bg: #ffcccf;
$c-state-error-color: #f3043d;
$c-state-success-bg: #bafcd8;
$c-state-success-color: #137e65;
$c-state-warning-bg: #ffdf8d;
$c-state-warning-color: #a56300;

