@use './palette';

// text
$t-xs: 0.75rem; // 12px
$t-sm: 0.875rem; // 14px
$t-base: 1rem; // 16px
$t-lg: 1.125rem; // 18px
$t-xl: 1.25rem; // 20px
$t-2xl: 1.5rem; // 24px


// border
$b: 1px;
$b-xs: 0.125rem;
$b-sm: 0.25rem;
$b-md: 0.5rem;
$b-lg: 0.75rem;
$b-xl: 1rem;

$b-input: $b solid palette.$c-green-1;

// breakpoints
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xl2: 1536px;

// Inputs & buttons
$control-height: 2.5rem;
$input-width-sm: 8rem;
